/* 
    Created on : 23/09/2015, 10:22:51
    Author     : Lopes
*/

#ColunaFormulario
{
    background-color: paleturquoise;
}

body
{
    background-color: darkgray;
    background-attachment: fixed;
    background-image: url("../img/backgroud.jpg");
    background-repeat: no-repeat;
    background-size: auto cover;
    background-position: center center;
}

input 
{
  display: inline-block;
  padding-left: 10px;
}

#descricao
{
    width: 500px; 
    height: 150px; 
    resize: none;
}
